<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>PONG HTML5 PRACTICE</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <ul id="score">
      <li id="playerScore"></li>
      <li id="computerScore"></li>
    </ul>
    <div id='game' style="background-color: black">
      <h3 id="welcome">Welcome to Pong!</h3>
      <a href="javascript: start()" class='text' id='start'>Start</a>
      <canvas id="game_canvas" width="800" height="600"></canvas>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
